{% load static %}
<!-- Main Header Start -->
<div class="main-header-area animated">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="rehomesNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/michu_property_management_logo.png' %}" width="145" height="120" alt=""></a>
                    <!-- <a class="nav-brand" href="{% url 'index' %}"><h2>Michu Properties</h2></a> -->

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'listings' %}">Properties</a></li>
                                <li><a href="{% url 'contactus' %}">Contact</a></li>
                            </ul>
                            {% if user.is_authenticated %}
                                <!-- Dashboard btn -->
                                <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                                    <a href="{% url 'dashboard' %}">Dashboard </a>
                                </div>
                                <!-- Lougout -->
                                <div class="btn rehomes-search-btn">
                                        <a href="javascript:{document.getElementById('logout').submit()}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                        <form action="{% url 'logout' %}" method="POST" id="logout">
                                            {% csrf_token %}
                                            <input type="hidden">
                                        </form>
                                    </div>
                            {% else %}
                            <!-- Register btn -->
                            <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                                <a href="{% url 'register' %}">Register</a>
                            </div>

                            <!-- Login btn -->
                            <div class="btn rehomes-search-btn">
                                <a href="{% url 'login' %}">Login</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- **** Header Area End **** -->