{% load static %}
<!-- **** Sisters Company Area Start **** -->
<section class="rehome-house-sale-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2><span>Sister</span> Companies</h2>
                    <p>Visit our sister companies.</p>
                </div>
            </div>

            <!-- Single Logo -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-sister-company-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Royal Group -->
                    <a href="https://globalroyalcare.com/" target="_blank"><img src="{% static 'img/core-img/Royal_Group_Home_Logo.png' %}" alt="Omedla Travel Agency" width="245" height="220"/></a>
                </div>
            </div>

            <!-- Single Logo -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-sister-company-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Omedla Logo -->
                    <a href="{% url 'travelagency' %}" target="_blank"><img src="{% static 'img/core-img/Omedla_Travel_Agency_LLC_Final_01.png' %}" alt="Omedla Travel Agency" width="245" height="220"/></a>
                </div>
            </div>

            <!-- Single Logo -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-sister-company-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Abbai Home -->
                    <a href="https://globalroyalcare.com/abbai-home-health-care/" target="_blank"><img src="{% static 'img/core-img/Logo_Abbai_Home_Health_Care.gif' %}" alt="Omedla Travel Agency" width="345" height="320"/></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- **** Choose Us Area End **** -->