<!-- Top Header Area Start -->
<div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-6">
                    <div class="top-header-content">
                        <a href="#"><i class="icon_mail"></i> <span>info@michu-properties.com</span></a>
                        <a href="#"><i class="icon_phone"></i> <span>+251 96 753 3467</span></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="top-header-content">
                        <!-- Top Social Area -->
                        <div class="top-social-area ml-auto">
                            <a href="https://www.facebook.com/michu-properties"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://t.me/michu-properties"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header Area End -->