{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<!-- alerts -->
{% include 'partials/_alerts.html' %}
<!-- **** Properties Hero Area Start **** -->
<div class="properties-hero-area d-flex flex-wrap align-items-center mb-80">
        {% if featured_listing %}
            {% for featured in featured_listing %}
            <div class="properties-slide">
                    <!-- Properties Slider -->
                    <div id="property-thumb-silde" class="carousel slide wow fadeInUp" data-wow-delay="200ms" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#property-thumb-silde" data-slide-to="0" class="active" style="background-image: url({{ featured.photo_main.url }});"></li>
                            <li data-target="#property-thumb-silde" data-slide-to="1" style="background-image: url({{ featured.photo_1.url }});"></li>
                            <li data-target="#property-thumb-silde" data-slide-to="2" style="background-image: url({{ featured.photo_2.url }});"></li>
                            <li data-target="#property-thumb-silde" data-slide-to="3" style="background-image: url({{ featured.photo_3.url }});"></li>
                        </ol>
        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ featured.photo_main.url }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ featured.photo_1.url }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ featured.photo_2.url }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ featured.photo_3.url }}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Properties Content Area -->
                <div class="properties-content-area wow fadeInUp" data-wow-delay="200ms">
                    <div class="properties-content-info">
                        <h2>{{ featured.title }} </h2><p><span class="badge badge-primary">Featured</span> 
                            <span class="badge badge-success">New</span></p>
                        <div class="properties-location">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ featured.address }}</p>
                            <p><i class="fa fa-home" aria-hidden="true"></i> {{ featured.home_type }}</p>
                        </div>
                        <h4 class="properties-rate">{{ featured.price | intcomma }} <span> Birr</span></h4>
                        <p>{{ featured.description | slice:":180"}}</p>
                        <!-- Properties Info -->
                        <div class="properties-info">
                            <p>Sqft: <span>{{ featured.sqft }} m2</span></p>
                            <p>Beds: <span>{{ featured.bedrooms }}</span></p>
                            <p>Baths: <span>{{ featured.bathrooms }}</span></p>
                            <p>Garages: <span>{{ featured.garage }}</span></p>
                        </div>
                        <a class="btn rehomes-btn mt-10" href="{% url 'listing' featured.id %}">More Info</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="properties-slide">
                <!-- Properties Slider -->
                <div id="property-thumb-silde" class="carousel slide wow fadeInUp" data-wow-delay="200ms" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#property-thumb-silde" data-slide-to="0" class="active" style="background-image: url({% static 'img/bg-img/64.jpg' %});"></li>
                        <li data-target="#property-thumb-silde" data-slide-to="1" style="background-image: url({% static 'img/bg-img/65.jpg' %});"></li>
                        <li data-target="#property-thumb-silde" data-slide-to="2" style="background-image: url({% static 'img/bg-img/66.jpg' %});"></li>
                        <li data-target="#property-thumb-silde" data-slide-to="3" style="background-image: url({% static 'img/bg-img/67.jpg' %});"></li>
                    </ol>
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/bg-img/64.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/bg-img/65.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/bg-img/66.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/bg-img/67.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Properties Content Area -->
            <div class="properties-content-area wow fadeInUp" data-wow-delay="200ms">
                <div class="properties-content-info">
                    <h2>Welcome to Michu Properites. </h2>
                    <p>Michu Properties is a property management company headquarter in USA. Established to give any service related to buying, selling, renting and consultancy starting from individual to real-estate homes.</p>
                    <p>We at Michu Properites believe in high quality and exceptional customer service. But most importantly, we believe being a realtor is a right, not a luxury, so we strive to deliver the best service at the most affordable prices.</p>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- **** Properties Hero Area End **** -->
<!-- alerts -->
<!-- {% include 'partials/_alerts.html' %} -->
    <!-- **** Location Search Form Area **** -->
    <div class="rehomes-search-form-area wow fadeInUp" data-wow-delay="200ms">
        <div class="container">
            <div class="rehomes-search-form">
                <form action="{% url 'search' %}">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                                <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3">
                                            <div class="form-check">
                                                <input type="checkbox" name="forrent" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1" style="color: white;"> Search for rent only</label>
                                            </div>
                                        </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <input type="text" name="keywords" class="form-control" placeholder="Keywords" value="{{ values.keywords }}">
                                    </div>
                                    
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <select name="city" id="city" class="form-control">
                                            <option selected="true" disabled="disabled">City (All)</option>
                                            {% for key, value in city_choices.items %}
                                                <option value="{{ key }}"
                                                {% if key == values.city %}
                                                    selected
                                                {% endif %}
                                                > {{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-3">
                                        <select name="bedrooms" id="bedrooms" class="form-control">
                                            <option selected="true" disabled="disabled">Bedrooms (All)</option>
                                            {% for key, value in bedroom_choices.items %}
                                                <option value="{{ key }}"
                                                {% if key == values.bedrooms %}
                                                    selected
                                                {% endif %}
                                                > {{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <select name="bathrooms" id="bathrooms" class="form-control">
                                            <option selected="true" disabled="disabled">Bathrooms (All)</option>
                                            {% for key, value in bathroom_choices.items %}
                                                <option value="{{ key }}"
                                                {% if key == values.bathrooms %}
                                                    selected
                                                {% endif %}
                                                > {{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                            <select name="price" id="price" class="form-control">
                                                <option selected="true" disabled="disabled">Price (All)</option>
                                                {% for key, value in price_choices.items %}
                                                    <option value="{{ key }}"
                                                    {% if key == values.price %}
                                                    selected
                                                    {% endif %}
                                                    > {{ value }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                            <select name="sqft" id="sqft" class="form-control">
                                                <option selected="true" disabled="disabled">Sqft (All)</option>
                                                {% for key, value in sqft_choices.items %}
                                                    <option value="{{ key }}"
                                                    {% if key == values.sqft %}
                                                    selected
                                                    {% endif %}
                                                    > {{ value }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <button type="submit" class="btn rehomes-search-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- **** Location Search Form Area **** -->
    
    <!-- **** Sale area Start **** -->
    <section class="rehome-house-sale-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Top New In <span>Addis Ababa</span></h2>
                        <p>These are the best and new deals. All in Addis Ababa City and nearby area</p>
                    </div>
                </div>
                {% if listings %}
                    {% for listing in listings %}
                        <!-- Single Property Area -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                                <!-- Property Thumb -->
                                <div class="property-thumb">
                                    <a href="{% url 'listing' listing.id %}"><img src="{{ listing.photo_main.url }}" alt=""></a>
                                </div>
        
                                <!-- Property Description -->
                                <div class="property-desc-area">
                                    <!-- Property Title & Seller -->
                                    <div class="property-title-seller d-flex justify-content-between">
                                        <!-- Title -->
                                        <div class="property-title">
                                            <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ listing.address }}</p>
                                        </div>
                                        <!-- Seller -->
                                        <div class="property-seller">
                                            <p>Agent:</p>
                                            <h6>{{ listing.realtor }}</h6>
                                        </div>
                                    </div>
                                    <!-- Property Info -->
                                    <div class="property-info-area d-flex flex-wrap">
                                        <p>Sqft: <span>{{ listing.sqft }} m2</span></p>
                                        <p>Garage: <span>{{ listing.garage }}</span></p>
                                        <p>Bedrooms: <span>{{ listing.bedrooms }}</span></p>
                                        <p>Bathrooms: <span>{{ listing.bathrooms }}</span></p>
                                    </div>
                                    <p><span>{{ listing.list_date | timesince }}</span> ago</p>
                                </div>
        
                                <!-- Property Price -->
                                <div class="property-price">
                                    {% if listing.is_for_rent %}
                                        <a class="badge-rent" href="{% url 'listing' listing.id %}">For Rent</a>
                                        <p class="price">${{ listing.price | intcomma }} per Month</p>
                                    {% else %}
                                        <a class="badge-sale" href="{% url 'listing' listing.id %}">For Sale</a>
                                        <p class="price">{{ listing.price | intcomma }} Birr</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No listings available</p>
                {% endif %}

            </div>
        </div>
    </section>
    <!-- **** Sale Area End **** -->

    <!-- Choose us area -->
{% include 'partials/_chooseus.html' %}
{% include 'partials/_sister_companies.html' %}

<!-- Choose us area -->
{% include 'partials/_partnership.html' %}
{% endblock %}