{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omedla Travel Agency LLC</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/omedla_page.css' %}">
</head>
<body>
  <div class="container">
    <div class="left-side">
      <img src="{% static 'img/core-img/Omedla_Travel_Agency_LLC_Final_01.png' %}" alt="Omedla Logo" class="logo">
      <img src="{% static 'img/bg-img/travel.png' %}" alt="Centered Image" class="centered-image">
    </div>
    <div class="divider"></div>
    <div class="right-side">
      <div class="description">
        <h1 style="text-align: center;">Our services</h1>
        <ul>
          <li><i class="fa fa-plane"></i> Air ticket (International and Domestic)</li>
          <li><i class="fa fa-file"></i> Visa processing</li>
          <li><i class="fa fa-id-card"></i> New/Renew Passport, Origin ID, Lessie Passer</li>
          <li><i class="fa fa-gavel"></i> Power of Attorney</li>
          <li><i class="fa fa-file"></i> Document Authentication and Legalization</li>
          <li><i class="fa fa-home"></i> Guest House</li>
          <li><i class="fa fa-car"></i> Transportation from and to Guest house, Hotel to Airport (IAD, BWI, DCA)</li>
          <li><i class="fa fa-building"></i> Property Management</li>
        </ul>
      </div>
      <h2 style="text-align: center; margin-top: 20px;">Contact Us</h2>
      <div class="contact-info">
        <p><strong>Tel:</strong> 703-678-3657</p>
        <p><strong>Email:</strong> omedlatravelagency@outlook.com | omedlatravel@gmail.com</p>
        <p><strong>Address:</strong> 5290 Shawnee Rd, Suite 200 Room #23
          Alexandria, VA 22312</p>
      </div>
    </div>
  </div>
</body>
</html>
